
body {
    margin: 20px;
}

a {
    height: 40px;
    width: 100px;
}

input {
    width: 300px !important;
}

.pageBtn {
    width: 3rem;
    border-radius: 7px;
}

.example {
    text-align: right;
}

.pageNum {
    width: 20px !important;
    text-align: center !important;
}

.messageCRUD {
    text-align: center;
    background-color: #5BB318 !important;
    color: white !important;
    font-size: 15px !important;
    width: 300px;
    margin-bottom: 10px;
}
