<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/loginCss.css">
    <script type="text/javascript" src="/js/loginJs.js"></script>
</head>
<body>
<div class="login-page">
    <div class="form">
        <h2>Login</h2>
        <form class="login-form" name="myForm" th:action="@{/webtask/login}" method="post" th:object="${user}" id="form" onsubmit="return validate()">

            <input id="username" name="username" type="text" placeholder="Username" value="vietnq26"/>
            <p class="text-error" id="messageUsername"></p>

            <input id="password" name="password" type="password" placeholder="Password" value="123"/>
            <p class="text-error" id="messagePassword"></p>

            <button type="submit">Login</button>
            <p class="message">Not registered? <a th:href="@{/webtask/register}">Create an account</a></p>
        </form>
    </div>
</div>
</body>
</html>