<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/registerCss.css">
    <script type="text/javascript" src="/js/registerJs.js"></script>
</head>
<body>
<div class="register-page">
    <div class="form">
        <h2>Sign Up</h2>
        <form name="myForm" th:action="@{/webtask/register/save}" th:object="${user}" method="post"
              onsubmit="return confirmPassword()">

            <input id="name" name="name" th:field="*{fullname}" type="text" placeholder="Fullame"/>
            <p class="text-error" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></p>

            <input id="username" name="username" th:field="*{username}" type="text" placeholder="Username"/>
            <p class="text-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

            <input id="password" name="password" th:field="*{password}" type="password" placeholder="Password"/>
            <p class="text-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

            <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password"/>
            <p class="text-error" id="message"></p>

            <button>Create</button>

            <p class="message">Already registered? <a th:href="@{/webtask/login}">Back to login</a></p>

        </form>
    </div>
</div>
</body>
</html>