<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.webtaskmanager.mapper.TaskMapper">

    <select id="findAllMybatis" resultType="com.example.webtaskmanager.model.Task">
        SELECT *
        FROM task
        WHERE (title LIKE '%' #{title} '%')
          AND (status LIKE '%' #{status} '%') LIMIT #{start}, 5
    </select>

    <select id="countAllMybatis" resultType="com.example.webtaskmanager.model.Task" parameterType="String">
        SELECT *
        FROM task
        WHERE (title LIKE '%' #{title} '%')
          AND (status LIKE '%' #{status} '%')
    </select>

    <select id="findAllCsv" resultType="com.example.webtaskmanager.model.Task" parameterType="String">
        SELECT *
        FROM task
        WHERE (`title` LIKE '%' #{title} '%')
          AND (`status` LIKE '%' #{status} '%')
    </select>

    <insert id="addTask">
        INSERT INTO task(`describe`, `status`, `title`)
        VALUES (#{task.describe}, #{task.status}, #{task.title});
    </insert>

    <update id="editTask">
        UPDATE task
        SET `describe` = #{task.describe},
            `status`   = #{task.status},
            `title`    = #{task.title}
        WHERE `taskid` = #{task.taskid}
    </update>

    <delete id="deleteTask" parameterType="int">
        DELETE
        FROM task
        WHERE `taskid` = ${taskid}
    </delete>


</mapper>